<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <div class="container">
      <main class="error-main">
        <div class="error-container">
          <h2>404 not found</h2>
          <a href="/">Go back to the home page</a>
        </div>
      </main>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
