<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dash</h1>
    <form action="/auth/logout" method="post">
      <button>Logout</button>
    </form>
    <a href="dashboard/create">Add new folder</a>
    <ul>
      <% data.forEach(item => { %>
      <li>
        <a href="<%= item.type === 'FOLDER' ? '/dashboard/folders' : '/dashboard/files' %>">
          <%= item.name %>
        </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
