<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <div class="container">
      <%- include("partials/header") %>
      <main class="banner">
        <div class="banner-copy">
          <h1>Organize, Access, Share with Ease</h1>
          <p>The simple, secure way to keep your files in sync across all your devices</p>
          <a href="/auth/signin" class="btn-primary">Get started</a>
        </div>
        <div class="banner-image">
          <img src="assets/vector.png" />
        </div>
      </main>
      <section class="features-container">
        <div class="feature-card">
          <i class="fa-solid fa-shield-halved"></i>
          <h3>Secure Storage</h3>
          <p>
            Protect your files with advanced encryption. Your data is safe, private, and accessible
            only to you.
          </p>
        </div>
        <div class="feature-card">
          <i class="fa-solid fa-file-export"></i>
          <h3>Easy File Sharing</h3>
          <p>
            Share files and folders with a click. Collaborate seamlessly with customizable access
            and permissions.
          </p>
        </div>
        <div class="feature-card">
          <i class="fa-solid fa-cloud-arrow-up"></i>
          <h3>Anywhere Access</h3>
          <p>
            Access your files from any device, any time. Your documents, photos, and videos are just
            a tap away.
          </p>
        </div>
      </section>

      <section class="about-container">
        <div class="image-container">
          <img src="/assets/testabout.png" alt="" />
        </div>
        <div class="about-copy">
          <h2>Discover the Power of M Drive</h2>
          <p>
            Welcome to M Drive, your trusted companion for seamless file management. Designed with
            simplicity and security in mind, M Drive helps you store, organize, and access your
            files effortlessly.
          </p>
          <p>
            Whether you're managing personal documents or sharing important folders with a team, M
            Drive ensures a smooth and intuitive experience.
          </p>
          <p>
            With cutting-edge encryption, cross-device compatibility, and powerful sharing tools, we
            empower you to stay connected and productive from anywhere.
          </p>
          <p>Explore the future of file management today with M Drive.</p>
          <a class="btn-primary btn-primary-md" href="/auth/signup">Sign up</a>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
