<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <div class="container">
      <%- include("partials/header") %>
      <main class="banner">
        <div class="banner-copy">
          <h1>Organize, Access, Share with Ease</h1>
          <p>The simple, secure way to keep your files in sync across all your devices</p>
          <a href="/auth/signin" class="btn-primary">Get started</a>
        </div>
        <div class="banner-image">
          <img src="assets/vector.png" />
        </div>
      </main>
      <section class="features-container">
        <div class="feature-card">
          <i class="fa-solid fa-shield-halved"></i>
          <h3>Secure Storage</h3>
          <p>
            Protect your files with advanced encryption. Your data is safe, private, and accessible
            only to you.
          </p>
        </div>
        <div class="feature-card">
          <i class="fa-solid fa-file-export"></i>
          <h3>Easy File Sharing</h3>
          <p>
            Share files and folders with a click. Collaborate seamlessly with customizable access
            and permissions.
          </p>
        </div>
        <div class="feature-card">
          <i class="fa-solid fa-cloud"></i>
          <h3>Anywhere Access</h3>
          <p>
            Access your files from any device, any time. Your documents, photos, and videos are just
            a tap away.
          </p>
        </div>
      </section>

      <section class="about"></section>
    </div>
  </body>
</html>
