<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1>Upload file</h1>
    <form
      action="/dashboard<%= parentId ? '/' + parentId + '/upload' : '/upload' %>"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="name">File name:</label>
      <input type="text" placeholder="file name" name="name" />
      <input type="file" placeholder="file name" name="file" />
      <button>Upload</button>
    </form>
  </body>
</html>
